.titulo{
    font-size:50px;
    color:aqua;
    padding: 10px;
}

.contenedor{
    background-color: black;
    margin: 0 auto;
    width: 300px; 
    height: 300px;
    left: 0;
    top:0;
    text-align: center;
}

.cuadrito{
    margin-top: 15px;

}
h1{
    text-align: center;
}